@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    z-index: 10;
    font-size: 18px;
    margin:0;
    display: inline;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 25px;
}
.navdiv{
    z-index: 9999;
    background-color: white;
}
.navbar {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: center;
   
   
}

.invite {
    padding: 12px 20px;
    width: 140px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    margin-bottom: 10px;
}

.invite:hover {
    cursor: pointer;
    filter: brightness(120%);

}

.invite a {
    color: white;
}

ul li {

    list-style: none;
}

ul li a,
p {

    color: hsl(0, 1%, 41%);
    font-weight: 300;
}

ul li a {
    padding: 10px;
    padding-bottom: 25px;
}

ul li a:hover {

    border-bottom: 4px solid;
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 20;
    border-image-slice: 1;
    border-image-repeat: repeat;
}

ul {
    display: flex;
    width: 30vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.main {

    z-index: 11;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.imgContainer {
   
    display: none;
    background-image: url("./images/image-mockups.png"), url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 90% 100%, 100% 84%;
    background-position: top -110px right -110px, top -100px right -50px;
    height: 800px;
    width: 800px;
}

.intro {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 100%));
    display: flex;
    height: 60vh;
    justify-content: space-between; 
    z-index: 9;
    overflow-y: visible;
    
}

.imgs img{
    height: 50vh
}
.mockup{
    align-self: flex-start;
    z-index: 0;
    height: 900px;
    transform: translate(89%,-20%);
    width: 660px;
    
}

.intro h3,
.features h3 {
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.introList {
    order: -1;
    width: 28vw;
    height: 100%;
    display: flex;
    padding: 20px ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 11vw;
}

.features {
    z-index: 8;
    display: flex;
    background-color: hsl(220, 16%, 96%);
    flex-direction: column;
}

.features>*,
.articles>* {
    margin-left: 11vw;
}

.featuresList {
    display: flex;
    gap: 20px;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;

}

.articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-image: linear-gradient(to top, hsl(0, 0%, 98%), hsl(0, 0%, 100%));
    padding-bottom: 100px;
}

.articles h3 {
    width: 100vw;
}

.articlesList {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}

.articlesList img {
    align-self: flex-start;
    width: 20vw;
    height: 25vh;
}

.article {
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    align-self: stretch;
}

.article a {
    color: black;
}

.articleContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articleContent>* {
    padding-left: 10px;
    padding-right: 30px;
    margin-top: 0;
}

.articleContent small {
    padding-top: 10px;
    font-size: 12px;
    color: hsl(0, 1%, 41%);

}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(233, 26%, 24%);
}

footer>* {
    margin-right: 10vw;

}

footer a {
    color: white;
}

footer .about a:hover,
footer .careers a:hover,
.article a:hover {
    color: hsl(136, 65%, 51%);
}

.socialLinks svg:hover {
    fill: hsl(136, 65%, 51%);

}

.socials {
    display: flex;
    margin-left: 11vw;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socialLinks>* {
    padding-right: 10px;
}

.about,
.careers {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.copyright p {
    color: hsl(0, 0%, 98%);
}


/* ----mobile-design */
.menu {
    display: none;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width:430px) {
    footer>* {
        margin-right: 0;
        padding-right: 0;
    }

    .navbar ul,
    .navbar .invite {
        display: none;
    }

    .navbar .menu {
        display: block;
    }

    .menu .close {
        display: none;
    }

    .navbar {
        padding: 20px;
        justify-content: space-around;
    }
    .mockup,
    .imgs{
        display: hidden;
    }

    .imgContainer {
        
        display: flex;
        background-image: url("./images/image-mockups.png"), url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 300px 400px, 100% 400px;
        background-position: top -120px left 50%, top 0px left 0px;
        right: 0;
        height: 300px;
        width: 100%;
    }

    .intro {
        height: unset;
        padding-top: 20px;
        justify-content: center;
        align-items: center;

    }

    .intro h3 {
        font-size: 40px;

    }

    .introList {
        margin-left: 1vw;
        width: 75vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .features>*,
    .articles>* {
        margin-left: 0vw;
    }

    .features {
        text-align: center;
    }

    .featuresList {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .articles {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .articles h3 {
        font-size: 35px;
    }

    .articlesList {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
        width: 80vw;

    }

    .articlesList img {

        width: 70vw;
        height: 20vh;
    }

    .article {
        width: auto;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    footer .about,
    footer .careers {
        gap: 10px;
    }

    footer .socials {
        margin-left: 0;
        gap: 20px;
        align-items: center;
    }

    footer .copyright {
        margin-left: 0;
        align-items: center;
    }



    .socialLinks>* {
        padding: 0;
    }

    .socialLinks {
        display: flex;
        gap: 10px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger.on {
        background-color: white;


    }

    .main.on .imgContainer .mobileMenu {
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        z-index: 99;
        background-color: white;
        padding: 20px 0px;
        height: 25vh;
        width: 70vw;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 1px 1px 20px;
        opacity: 0.99;
        transition: all 250ms;
    }

    .hamburger.on .ham {
        display: none;
    }

    .hamburger.on .close {
        display: block;
    }

    .mobileMenu {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .mobileMenu a {
        text-align: center;
        font-size: 18px;
        color: rgb(75, 74, 74);
    }

    .mobileMenu a:hover {
        color: lime;
    }

    .main.on >div:not(.imgContainer){
        filter: brightness(60%);
        transition: all 250ms;
    }
    .main.on footer{
        filter: brightness(60%);
    }

    .main.on .imgContainer{
        opacity: 0.8;
    }
    
    .main.on .imgContainer .mobileMenu{
        filter: brightness(120%);
    }


 
}

@media screen and (max-width:951px){
    .mockup,
    .imgs{
        display: none;
    }
    .imgContainer {
     
        display: flex;
        flex-direction: column;
        background-image: url("./images/image-mockups.png"), url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 300px 400px, 100% 400px;
        background-position: top -120px left 50%, top 0px left 0px;
        right: 0;
        height: 300px;
        width: 100%;
    }
    .intro{
        height: unset;
    }
    
}